services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: strongpassword123
    volumes:
      - db-data-vol:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 1s
      timeout: 1s
      retries: 100
    networks:
      - network

volumes:
  db-data-vol:

networks:
  network: